{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>In Cart Product</h1>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{% static 'image/banana' %}" alt="banana" width = "200" height = "200">
            <div class="caption">
                <h3>banana</h3>
                <p>yellow apple</p>
                <p align="right"><input type="checkbox" name="p[]"><a href="/cart" class="btn btn-primary" role="button">Cart</a></p>
            </div>
        </div>
    </div>
    <table class = 'table'>
        <thread>
            <tr>
                <th>고객번호</th>
                <th>상품번호</th>
                <th>상품명</th>
                <th>중분류</th>
            </tr>
        </thread>
        {% if basket_list %}
        <tbody>
        {{ basket_list.last.aisle_id }}
        {% for row in basket_list %}
        <tr>

            <td>{{row.user_id }}</td>
            <td>{{row.product_id }}</td>
            <td>{{row.product_name }}</td>
            <td>{{row.aisle_id }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <p>No Data.</p>
        {% endif %}
        </tbody>
    </table>
</body>
</html>