{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
    <h1>구매내역</h1>
    <table class = 'table'>
        <thread>
            <tr>
                <th>고객번호</th>
                <th>상품명</th>
            </tr>
        </thread>
        {% if history_list %}
        <tbody>
        {% for raw in history_list %}
        <tr>
            <td>{{raw.user_id }}</td>
            <td>{{raw.product_name }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <p>No Data.</p>
        {% endif %}
        </tbody>
    </table>
</body>
</html>