{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>구매내역</h1>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{% static 'image/banana' %}" alt="banana">
            <div class="caption">
                <h3>banana</h3>
                <p>yellow apple</p>
                <p align="right"><input type="checkbox" name="p[]"><a href="/cart" class="btn btn-primary" role="button">Cart</a></p>
            </div>
        </div>
    </div>
</body>
</html>