{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>daehyeon E Shopping</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Daehyeon E Shop</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" align="right" style=" display:flex; width:45%;text-align:center; float:right;" >
          {% if not request.user.is_authenticated %}
          <form action = "{% url 'login' %}" class="navbar-form navbar-right" method = "post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" style="float:right">로그인</button>
          </form>
          {% endif %}
          {% if request.user.is_authenticated %}
          <div class="navbar-form navbar-right">
            <table style="{padding:15px;}">
              <tr>
                <td>
                  {% if Grade.user_grade == 1 %}
                  <p style="float:right; color:white;">VIP: <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
                  {% endif %}
                  {% if Grade.user_grade == 2 %}
                  <p style="float:right; color:white;">FAMILY: <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
                  {% endif %}
                  {% if Grade.user_grade == 3 %}
                  <p style="float:right; color:white;">WELCOME: <span class="glyphicon glyphicon-star"></span></p>
                  {% endif %}
                </td>
                <td>
                  <a href="cart/" >
                    <button type="button" class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-shopping-cart"></span> 장바구니</button>
                  </a>
                </td>
                <td>
                  <a href="{% url 'history' %}">
                    <button type="button" class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-list"></span> 구매내역 </button>
                  </a>
                </td>
                <td>
                  <a class="logout" href="{% url 'logout' %}">
                    <button class="btn btn-logout">로그아웃</button>
                  </a>
                </td>
              </tr>
            </table>
          </div>
          {% endif %}

      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="width: 100%; text-align: center">
      <img src="{% static 'image/logo2.jpg' %}" alt="로고" style="width: 100%; max-width: 380px; vertical-align: middle" />

        <h1>Welcome to Daehyeon E Shop</h1>
        <p> 새로운 대현 온라인 쇼핑을 확인해보세요 </p>
<!--        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
    </div>

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <!-- Main jumbotron for a primary marketing message or call to action -->


          <div class="row">
            {% for item in product_list %}
            <div class="col-xs-4 col-lg-3" style="width: 200px; height: auto;">
              {% if index|random == 0 %}
              <a href="#" class="thumbnail" > <img src="{% static 'image/banana.jpg' %}"> </a>
              {% elif index|random == 1 %}
              <a href="#" class="thumbnail"> <img src="{% static 'image/apple.jpg' %}"> </a>
              {% elif index|random == 2 %}
              <a href="#" class="thumbnail"> <img src="{% static 'image/yogurt.jpg' %}"> </a>
              {% elif index|random == 3 %}
              <a href="#" class="thumbnail"> <img src="{% static 'image/strawberry.jpg' %}"> </a>
              {% else %}
              <a href="#" class="thumbnail"> <img src="{% static 'image/tomato.jpg' %}"> </a>
              {% endif %}
              <p>{{ item.product_name | truncatechars:15}}</p>
              <table>
                <tr>
                  <td>
                    <form action= "{% url 'cart' %}" method = "POST"> {% csrf_token %}
                      <button class="btn btn-xs btn-default" type="submit" name="product_id" value = {{ item.product_id }} >장바구니 &raquo;</button></p>
                    </form>
                  </td>
                  <td>
                    <form action= "#" method = "POST"> {% csrf_token %}
                      <button class="btn btn-xs btn-default" type="submit" name="deliver_id" >정기배송 &raquo;</button></p>
                    </form>
                  </td>
                </tr>
              </table>
            </div><!--/.col-xs-6.col-lg-4-->
            {% endfor %}
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">Promotion</a>
            {% if Grade.user_grade == 1 %}
            <a href="#" class="thumbnail"> <img src="{% static 'image/logo1.jpg' %}"> </a>
            {% endif %}
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>